body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color: #f4f4f4;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    30% {
        left: -100%;
    }
    35% {
        left: -100%;
    }
    40% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    55% {
        left: -200%;
    }
    60% {
        left: -200%;
    }
    65% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    80% {
        left: -300%;
    }
    85% {
        left: -300%;
    }
    90% {
        left: -400%;
    }
    95% {
        left: -400%;
    }
    100% {
        left: -400%;
    }
}

    #slider {
        overflow: hidden;
    }
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slider infinite;

}
#slider figure img {
    position: relative;
    z-index: 1;
    width: 20%;
    height: 500px;
    float: left;
    /*filter:alpha(opacity=50);
    -moz-opacity: .50;
    opacity: .50;*/
    }
#login{
    position: relative;
    z-index: 2;
    top: -525px;
    width: 18%;
    float: none;
    text-align: center;
}

/*Global*/
.container{
    width: 80%;
    margin-top: auto;
    overflow: hidden;
}
.container #message, button {
    text-align: center;

    }

ul{
    margin:0;
    padding:0;
}

.button_1{
    height:38px;
    background:#e8491d;
    border:0;
    padding-left:20px;
    padding-right:20px;
    color:#ffffff;
}

.button_2{
    height:38px;
    background:#e8491d;
    border:0;
    padding-left:20px;
    padding-right:20px;
    color:#ffffff;
}

.dark{
    padding:15px;
    background: deepskyblue;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
}

/*Header **/
header{
    background: deepskyblue;
    color: #ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#e8491d 3px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top:10px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight:bold;
}

header a:hover{
    color:#cccccc;
    font-weight:bold;
}

img.small{
    width:100px;
    height: 100px;
}

img.large{
    width:940px;
    height:460px;
    }

/* Newsletter*/

#newsletter{
    padding:15px;
    color: #ffffff;
    background:deepskyblue;
}

#newsletter h1{
    float:left;
}

#newsletter form{
    float:right;
    margin-top:15px;
}

#newsletter input[type="email"]{
    padding:4px;
    height:24px;
    width:250px;
}

/*  Boxes */

#boxes{
    margin-top:20px;
}

#boxes .box{
    float:left;
    text-align: center;
    width:30%;
    padding: 10px;
}

#boxes .box img{
    width:90px;
}

/* Sidebar */

aside#sidebar{
    float:right;
    width: 30%;
    margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width:90%;
    padding:5px;
}

/* Main-col */

article#main-col{
    float:left;
    width:65%;
}

/* Services */

ul#services li{
    list-style: none;
    padding:20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background:#e6e6e6;
}
footer{
    padding:20px;
    margin-top: 20px;
    color:#ffffff;
    background-color:#e8491d;
    text-align: center;
}

/* Media Queries */

@media(max-width: 768px){
    header #branding,
    #login,
    header a,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        float: none;
        text-align: center;
        width:100%;
    }

    header{
        padding-bottom:20px;
    }
}
/* Showcase */

#showcase {
    height: 500px;
}
#showcase h1{
    margin-top: 40px;
}

#newsletter button{
    display:block;
    width:100%;
}

.quote button{
    display:block;
    width:90%;
}

#newsletter form input[type="email"], .quote input, .quote textarea{
    width: 100%;
    margin-bottom: 5px;
}

/* Login Display*/

.login-page {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form{
   position: relative;

    background: rgba(0, 191, 255, 0.8);
    max-width: 360px;
    margin: 0 auto 100px;
    padding:45px;
    text-align: center;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 1px;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #e8491d;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}
.form button:hover, .form button:active{
    background: coral;
}

.form .message {
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 12px;
}

.form .message a{
    color: #e8491d;
    text-decoration: none;
}
.form .register-form{
    display: none;
}
